@font-face {
  font-family: "dnd";
  src: url("../font/dnd.ttf") format("truetype");
}
html {
  font-family: "dnd";

}
body {
  color: black;
  font-family: "dnd";
  height: 100%;
  width: 100%;
  display: inline-flex;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  font-size: 18px;
  margin: 5px;
  text-align: center;
  /*text-transform: uppercase;*/
}
h3 {
  text-align: center;
font-size: 25px;
}
button {
  font-family: "dnd";
font-size: 30px;
}
.charbundle input{
  -webkit-appearance:none;
  outline: none;
  border: none;
  width: calc(100% - 2px);
}
.charpage{
  width: 95vw;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(242,242,242,.7);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.charheader{
  width: 100%;
  height: 250px;
}
.charname{
  width: 50%;
  height: 100%;
  float: left;
}
.charbundle{
  width: 50%;
  height: 100%;
  float: left;
}
.charbundle article{
  width: calc(33% - 10px);
  height: 50%;
  margin: 0 5px;
  float: left;
}
.xp article{
  height: auto;
}
.xp p{
  font-size: 35px;
}
.test{
  color: red;
}
.test2{
  color: blue;
}

.attributeholder {
  width: 15%;
  min-width: 100px;
  height: 100%;
  float: left;
}
.attributeholder article {
  background-image: url("../img/charassets/mods.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.attributeholder article, .modbonus{
  width: 90%;
  height: 50px;
  margin: 5px auto;
  padding-bottom: 50%;
  font-size: 70px;
  text-align: center;
}
.modbonus{
  line-height: 10px;
  font-size: 20px;
  top: -50%;
}
select{
  width: 100%;
  font-family: "dnd";

  color:black;
  font-size: 20px;
}
.life {
  float: left;

}
.life article {
  min-width: 100px;
  /*width: 100px;*/
  height: 100px;
  margin: 5px;
  float: left;
  position: relative;

  background-image: url("../img/charassets/speed.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.life article:nth-of-type(1){
  background-image: url("../img/charassets/armor.svg");

}
.hitpoints {

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: 25px;
  text-align: center;
}
.center h2{
  font-size: 30px;
}

.savingskills{
  width: 20%;
  height: 100%;
  float: left;
}
.savingthrow {
  width: calc(100% - 10px);
  margin: 10px auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/charassets/saves.svg");

}
.savingthrow article, .skills article{
  height: 30px;
  width: calc(100% - 10px);
  margin: 1px auto;
  position: relative;
}
.savingthrow article p, .savingthrow h2, .skills article h2, .skills article p{
  font-size: 25px;
  line-height: 30px;
}
.savingthrow input , .skills input {
  position: absolute;
  margin: 10px;

}
.skills p ,.savingthrow p {
  width: 10px;
left: 20px;
 position: absolute;

}
.skills {
  height: 100%;
  width: calc(100% - 10px);
  margin: 10px auto;
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/charassets/skills.svg");

}
.skills button {
  width: calc(100% - 20px);
  height: 40px;
  background-color: red;
  margin: 10px;
  border: none;
  font-size: 25px;
  color: white;
}
.skills h2 ,.savingthrow h2 {
  text-align: right;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.skills h2:first-letter, .savingthrow h2:first-letter {
    text-transform: uppercase;
}
#bigRedButton {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
}

.personalityHolder{
  width: calc(25% - 4px);
  float: left;
}
.personalityHolder h3{
  margin-top: 2px;
}
.personalityHolder article{
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-image: url("../img/charassets/bond.svg");
}
.personalityHolder article:nth-of-type(1){
  background-image: url("../img/charassets/pers.svg");

}
.personalityHolder article:nth-of-type(4){
  background-image: url("../img/charassets/flaw.svg");

}

.personalityHolder article textarea{
  width: calc(100% - 14px);
  border: none;
  resize: none;
  margin: 5px;
  font-size: 25px;
  font-family: "dnd";
background: none;
}
